.ui-content {
	padding: 0px 0px 0px 0px !important;
	max-width: 960px !important;
	margin: 0px auto;
	height: 100% !important;
}

.wrapper {
	height: 100% !important;
}

body {
	font-family: Arial, sans-serif !important;
	/*background: url(../img/diag-grid2.gif) repeat !important;*/
	background: #FFF !important;
}

.ui-field-contain {
	border: none !important;
}

.mobile-header {
	display: none;
}

	.mobile-header img {
		display: none;
	}

			
/*
**	Home Page
*/

#home-page {

}
			
	#page-header {
		height: 38px;
	}
	
		#page-header .settings-btn {
			float: right;
			margin-right: 5px;
		}
		
		#page-header .home-btn {
			margin-right: 30px;
		}
		
	.header {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	
		.header img {
			width: 100%;
			max-width: 800px;
			margin-top: 0;
		}

	
		#home-page #sponsor img {
			width: 90%;
			max-width: 400px;
			margin: 0px auto 50px auto;
		}
		
	.content {
		width: 100%;
		text-align: center;
	}
	
		.nav-btn-grp {
			width: 80%;
			min-width: 530px;
			margin: 0 10%;
		}
		
		.nav-btn-grp-m {
			display: none;
		}
		
			.nav-btn {
				width:90%;
				min-width: 140px;
				margin-right: 5% !important;
				margin-left: 5% !important;
				font-size: 0.8em;
				text-align: center;
				white-space: normal;
			}
			
				.nav-btn img {
					width: 90%;
					max-width: 128px;
					margin-left: 5%;
					margin-right: 5%;
				}



/*
** Welcome Page
*/

#welcome-page {
	
}

#welcome-page .back-btn {
	color: #000 !important;
}

#welcome-page a,
#welcome-page a:hover,
#welcome-page a:visited,
#welcome-page a:active {
	color: #FFF;
}	

	#welcome-page .ui-body {
		width: 80%;
		margin: auto;
		text-align: left;
		border-radius: 10px;
		background-color: #ea2c12 !important;
		color: #FFF;
		text-shadow: none;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
		#welcome-page .ui-body h3 {
			color: #F9C12D;
			font-variant: small-caps;
			font-size: 2em;
			font-weight: bold;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
	#welcome-page .welcome-content-m {
		display: none;
	}
		
	#welcome-page .nav-btn-grp {
		width: 80%;
		min-width: 530px;
		margin: 20px 10%;
	}	
	
		#welcome-page .nav-btn {
			width:70%;
			min-width: 120px;
			margin-right: 15% !important;
			margin-left: 15% !important;
			font-size: 0.7em;
			text-align: center;
			color: #000000;
		}
		

/*
** Agenda Page
*/

#agenda-page .header {
	margin-bottom: 10px !important;
}

	#agenda-page #day-btns {
		width:80%;
		margin: 0 auto;
	}
	
	#agenda-page .day-btn {
		width: 30%;
		float: left;
	}

	#agenda-list {
		clear: both;
		width: 90%;
		margin: 0px auto 20px auto;
	}
	
	#agenda-page .ui-listview-filter {
		width: 90%;
		margin: 15px auto 20px auto;
	}
	
	#agenda-page .ui-select {
		width: 90%;
		margin: 0 auto;
	}
		
		#agenda-page #agenda-list #dayone {
			border-top: solid 1px black;
			border-right: solid 1px black;
			border-left: solid 1px black;
		}
		
		#agenda-page #agenda-list .ui-bar-a {
			border-right: solid 1px black;
			border-left: solid 1px black;
		}
		
		#agenda-page #day-btns {
			width: 80%;
			margin: 0 auto;
		}
	
	#agenda-page .ui-input-text {
		color: #fff !important;
		text-shadow: none !important;
	}
	
	.session h4 {
		font-size: 0.95em;
		white-space: normal;
	}
	
	.session p {
		width: 85%;
		white-space: normal;
	}
	

/*
** Partners Page
*/

#partners-page .content img {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	#partners-page #lexus-logo {
		max-width: 600px;
	}
	
	#partners-page h2 {
		width: 90%;
		margin: 15px auto 15px auto;
	}
	
	#partners-page p {
		text-align: left;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#partners-page hr {
		clear: both;
	}
	
	#partners-page #secret-logo {
		width: 30%;
		float: left;
		margin-left: 10%;
		margin-bottom: 10px;
	}
	
	#partners-page #covergirl-logo {
		width: 40%;
		float: left;
		margin-left: 5%;
		margin-top: 60px;
	}
	
	#partners-page #secret-copy,
	#partners-page #gatorade-copy,
	#partners-page #underarmor-copy,
	#partners-page #oakley-copy,
	#partners-page #covalita-copy {
		clear: both;
		margin-top: 10px;
		font-size: 0.9em;
	}
	
	#partners-page #gatorade-logo {
		width: 15%;
		margin: 0 auto;
	}
	
	#partners-page #underarmor-logo {
		width: 30%;
		margin: 0 auto;
	}
	
	#partners-page #oakley-logo {
		width: 35%;
		margin: 0 auto;
	}
	
	#partners-page #covalita-logo {
		width: 30%;
		margin: 0 auto;
	}
	
	

/*
** Pictures Page
*/

#pics-page .content {
	width: 80%;
	margin: 0 10% 0 10%;
}

#pics-page .ui-grid-c img {
	max-height: 80px;
	max-width: 80%;
	box-shadow: 0px 0px 5px #888;
	padding: 5px;
}

.pic-dialog {
	padding: 0;
	text-align: center;
}

.pic-dialog img {
	width: 90%;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 0px 5px #888;
}

.pic-dialog p {
	width: 90%;
	text-align: left;
	margin-left: 20px;
}



/*
** Feedback (Suggestion Box) Page
*/

#feedback-page .content {
	text-align: left;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

#feedback-form textarea {
	width: 90%;
	margin-left:2.5%;
}

#feedback-form a {
	width: 60%;
	margin: 10px auto;
}



/*
** Speakers Page
*/

#speaker-list {
	width: 100%;
	margin: 0 auto;
	max-width: 500px;
}

.speaker-content p,
.speaker-content ul,
.speaker-content ul li {
	text-align: left !important;
}

.speaker-dialog {
	padding: 20px;
	text-align: center;
	background-color: #FFF;
}

.speaker-dialog img {
	max-width: 200px !important;
}

.speaker-dialog p,
.speaker-dialog ul {
	text-align: left;
}

	.pic-dialog .ui-title {
		width: 90%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}



/*
** Map
*/
.map-page #thumbs img {
	width: 20%;
	margin: 5px 2% 5px 2%;
	float: left;
	border: 1px solid black;
}

.map-page #largeImage {
	clear: both;
	width: 95%;
	margin: 10px 2.5% 10px 2.5%;
	border: 1px solid black;
}

.map-page p {
	width: 95%;
	margin: 10px 2.5% 10px 2.5%;
}

#maps-page #page-header {
			height: 44px;
		}
		
			#maps-page #page-header .settings-btn {
				float: right;
				margin-right: 5px;
			}
			
			#maps-page #page-header .home-btn {
				margin-right: 30px;
			}

#maps-page .content h3 {
		width: 90%;
		margin: 15px auto 15px auto;
	}
	
	#maps-page .content p {
		text-align: left;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#maps-page #maps-list {
		width: 70%;
		margin: 40px auto 0px auto;
		padding: 0;
	}
	
/*
** Livestreams
*/

#livestreams-list {
	width: 80%;
	margin: 0 auto;
}

#livestreams-page .ui-li .ui-btn-text a.ui-link-inherit p {
	white-space: normal !important;
}

#livestreams-list p {
	font-size: 1em;
	margin-bottom: 5px;
	margin-top: 5px;
}

#livestreams-list p .livestream-title {
	font-size: 1.1em;
	font-weight: bold;
}

